@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing:  border-box;
}

:root{
    --light: #f6f6f9;
    --primary: #1976d2;
    --light-primary: #cfe8ff;
    --grey: #fff;
    --dark-grey: #aaaaaa;
    --dark: #363949;
    --danger: #d32f2f;
    --light-danger: #fecdd3;
    --warning: #fbc02d;
    --light-warning: #fff2c6;
    --successs: #388e3c;
    --ight-success: #bbf7d0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color:var(--light);
    font-family: "Poppins", sans-serif;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    background-color: (var(--grey));
    border-radius: 5px;
    box-shadow: 5px 5px 10px #000;
    overflow-x: hidden;

}


